{{ define "main" }}
    <h1 class="center">{{ .Title }}</h1>
    {{ .Content }}
    <h2>Categories</h2>
    <div class="dyn-items">
        <div class="filter-item active"><a href="#" class="filter-text-link">ALL</a></div>
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <div class="filter-item"><a href="#">{{.Title}}</a></div>
        {{end}}
</div>
    <div>-</div>
    <h2 id="dyn-header">TKTK Articles</h2>
    <div id="blog-posts">
        {{ range .Pages }}
        <div class="item {{with .Params.categories }}{{ index . 0 }}{{ end }}">
            <hr />
            <h2><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></h2>
            <p>{{ .Page.Description }}</p>
        </div>
        {{ end }}
    </div>
{{ end }}
