{
    "include": [
        "content/**/*",
        "layouts/**/*",
        "static/**/*",
        "themes/**/*",
        "archetypes/**/*",
        "*.toml",
        "*.md",
        "*.html",
        "*.css",
        "*.js",
        "*.json",
        "*.yaml",
        "*.yml"
    ],
    "exclude": [
        "public/**/*",
        ".git/**/*",
        ".DS_Store",
        ".hugo_build.lock",
        "node_modules/**/*"
    ],
    "language": {
        "*.html": "html",
        "*.md": "markdown",
        "*.toml": "toml",
        "*.css": "css",
        "*.js": "javascript",
        "*.json": "json",
        "*.yaml": "yaml",
        "*.yml": "yaml"
    }
} 