p+p, p.lead+p {
  text-indent: 0;
}
/*dl, ol, p, pre, ul {
  text-align: left;
}*/
/* This is a test of the books branch
*/
.center {
  text-align: center;
}
.nav {
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee
  }
.navbar-item {
  font-weight: normal;
  padding: 20px;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Filter items */
.dyn-items {
  display: block;
  padding: 20px;
}
.filter-item {
    font-size:80%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    border-radius: 5px;
    background-color: #eee;
}
.narrow_body {
  width: 33em;
  margin: auto;
}
body {
  text-align: left;
  font-family: georgia, serif;
  font-size: 120%;
  line-height: 1.6;
  padding: 2em 2em 5em;
  background: #fdfdfd;
  margin: auto;
  max-width: 53em;
  color: #0a0a0a;
}
a {
  outline: 0!important;
  text-decoration: none;
}
a:link {
  color: #c00;
}
a:hover, a:visited {
  color: #606;
}
a:active {
  color: #900;
  outline: 0;
}
h1 {
  font-size: 320%;
  line-height: 1.35;
  font-style: normal;
  margin: 1.5em 0 .8em;
}
h2.related {
  margin-bottom: 0;
}
h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: .15em;
  margin: 1.75em 0 .8em;
}
span.lead {
  font-size: 150%;
  margin: 1em 0;
}
div.boxed {
  display:  block;
  /*border: 1px solid lightgrey;*/
  background-color: #f6f6f6;
  padding: 20px 0px 20px 15px;
  margin-top: 10px;
  font-size: 80%;
}
a.category {
  font-weight: normal;
}
p {
  font-size: 100%;
  margin: 1em 0 0;
}
p.subtitle {
  font-size: 150%;
  margin-bottom: 0;
}
p.date {
  color: #999;
  font-size: 75%;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 35px;
}
p+p {
  margin: 15px 0 0;
}
p+dl, p+ol, p+ul {
  margin-bottom: 1.5em;
}
/*Table style*/
th,
td {
  padding: 12px 15px;
  text-align: center;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

blockquote {
  border-left: 5px solid #eee;
  padding-left: 1.5em;
  margin: 1em 0;
}
blockquote small {
  display: block;
  line-height: 1.7em;
}
img {
  max-width: 100%!important;
  height: auto!important;
  float: none!important;
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
}
li {
  margin: 1em 0 0;
}
dt {
  font-weight: 700;
}
pre {
  font-size: 100%}
  hr {
    height: 0;
    color: #eee;
    border: 1px solid #eee;
    margin: 2em 0 1em;
  }
  .normal {
    font-weight: 400;
  }
  .quiet {
    color: #999;
  }
  .pull-left {
    float: left;
    margin: 1.5em 2em 1em 0;
  }
  .pull-right {
    float: right;
    margin: .5em 0 1em 2em;
  }

  @media screen and (max-width:500px) {
    img {
      display: block!important;
      max-width: 100%!important;
      height: auto!important;
      float: none!important;
      }
    .pull-left {
      display: block;
      width: 100%;
    }
    .pull-right {
      display: block;
      width: 100%;
    }
    body {
      font-size: 80%;
    }
    .navbar-item {
      font-weight: normal;
      padding: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
      line-height: 36px !important;
    }
    .narrow_body {
      width: 100% !important;
      margin: auto;
    }
  }
/*hover over link to show image*/
.hover_img a {
  position: relative;
  color: inherit; /*links aren't a different color*/
  text-decoration: inherit; /*links aren't underlined*/
}
.hover_img a span {
  position: sticky;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -100%;
  margin-left: -100%;
}

/*special table formatting*/
.special-tables {
  width: 95vw;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.special-tables table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.special-tables table th,
.special-tables table td {
  border: none;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.special-tables table td {
  border-right: 15px solid transparent; /*change black to transparent*/
  border-bottom: 15px solid transparent; /*change black to transparent*/
}

.special-tables table th:last-child,
.special-tables table td:last-child {
  border-right:none;
}

/*Button Link*/
.button-link {
  display: inline-block;
  width: 80%;
  padding: 10px 2%;
  color: #c00;
  background-color: transparent;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 70%;
  border: 1px solid #c00;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #c00;
  transition: all 0.2s ease;
  margin: 10px;
}

.button-link:hover {
  box-shadow: 6px 6px 0px #c00;
}

/* Image Modal Styles - Blog Posts Only */
.blog-post-image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

.blog-post-image-modal.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.blog-post-image-modal img {
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  cursor: pointer;
  margin: auto;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease 0.1s;
}

.blog-post-image-modal.active img {
  opacity: 1;
  transform: scale(1);
}

.blog-post-image-modal img.png-image {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.blog-post-content img {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.blog-post-content img:hover {
  opacity: 0.9;
}
