{{ define "main" }}
<div class="narrow_body">
<section class="section">
  <article>
    <h1 class="title">{{ .Title }}</h1>
        <p class="subtitle">By {{ .Site.Params.Author }}</p>
        <p class="date">Published or Updated on <time>{{ .PublishDate.Format "January 2, 2006" }}</time></p>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</section>
<section class="section">
    <h2 class="related">You may also enjoy:</h2>
        {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
        {{ range $related }}
        <em><a href="{{ .Permalink }}">{{ .Title }}</a></em><br />
        {{ end }}
</section>
</div>
{{ end }}
