{{ define "main" }}
<div class="narrow_body">
<section class="section">
  <article>
    <h1 class="title">{{ .Title }}</h1>
        <p class="subtitle">By {{ .Site.Params.Author }}</p>
        <p class="date">Published or Updated on <time>{{ .PublishDate.Format "January 2, 2006" }}</time></p>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</section>
<section class="section">
    <h2 class="related">You may also enjoy:</h2>
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ if $related }}
        <ul>
        {{ range $related }}
            <li><em><a href="{{ .Permalink }}">{{ .Title }}</a></em></li>
        {{ end }}
        </ul>
    {{ else }}
        <ul>
        {{ $recent := where .Site.RegularPages "Type" "blog" | first 4 }}
        {{ range $recent }}
            {{ if ne .Permalink $.Permalink }}
                <li><em><a href="{{ .Permalink }}">{{ .Title }}</a></em></li>
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}
</section>
</div>
{{ end }}
