<ul class="fa-ul">
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>A lot of my writing can be found on the <a href="/blog"><strong>articles</strong></a> page. Much <em>much</em> older blog posts can be found on my old blog <a href="http://iamdann.com"><strong>I Am Dann</strong></a>.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>I wrote a play with my wife called <em>The Floorshow</em> about a group of tap-dancing showgirls in the 1950s. It had a week-long run in 2019, which went <a href="https://www.broadwayworld.com/off-off-broadway/article/BWW-Review-World-Premiere-of-THE-FLOORSHOW-at-Theatre-71-by-Combustion-Collective-20191004"><strong>really well</strong></a>.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Though now defunct, I used to actively update my website <a href="http://novicenolonger.com"><strong>Novice No Longer</strong></a>. It also had a <a href="https://itunes.apple.com/us/podcast/novice-no-longer-podcast-escape-novice-dom-build-life/id791188761?mt=2"><strong>podcast</strong></a> that people seemed to like.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Here's some of my <a href="https://www.theverge.com/users/DannBerg/posts"><strong>writing</strong></a> from when I was Reviews Editor at The Verge.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>You can check out a video of my play <a href="https://vimeo.com/123011482"><strong>"Diary: A One Act Play"</strong></a> being performed in Manhattan Repertory Theatre's 2015 Spring One Act Competition.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>There was a time that I documented sticker art around New York City and published the website <a href="http://www.stickersofnyc.com/"><strong>Stickers of NYC</strong></a>.</p>
    </li>
    <li>
      <p><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Even though they're no longer available, I have fond memories of my three apps: Reader Tracker (iOS), Watcher Tracker (iOS), and WorkBurst (macOS).</p>
    </li>
  </ul>
